<div>

    <h2>Detalles de la película</h2>

        <p>Título: {{this.oneMovie.title}}</p>
        <br>
        <p>Género: {{this.oneMovie.genre}}</p>
        <br>
        <p>Trama: {{this.oneMovie.plot}}</p>
        <br>
        <p>Reparto: </p>
        {{#each this.oneMovie.cast}}

            <p>{{this.name}}</p>
            <p>Ocupación: {{this.occupation}}</p>
            <p>Frase destacada: {{this.catchPhrase}}</p>
            <br>
        {{/each}}


        <form action="/movies/{{this.oneMovie._id}}/delete" method="post">
        
        <button>Borrar</button>
     
        
        </form>

</div>